{% extends 'base.html' %}
{% block title %}
    Applicants
{% endblock %}
{% load static %}

{% block content %}

    <section class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="heading">Applicants for the <span class="accent">{{ job.title }}</span> position</h1>
                </div>
            </div>
        </div>
    </section>
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
    
                <form method="get">
                    {{myFilter.form}}
    
                <button class="btn btn-primary" type="submit">Search</button>
              </form>
    
            </div>
        </div>
        
    </div>
    <br>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="card card-body">
                        <table class="table table-sm">
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Degree</th>
                            </tr>
                            {% for applicant in applicants %}
                            <tr>
                                <td>{{applicant.firstname}}</td>
                                <td>{{applicant.lastname}}</td>
                                <td>{{applicant.degree}}</td>
                            </tr>
                            {% endfor %}            
                        </table>
                    </div>
                </div>
                {% if is_paginated %}
                    <div class="row">
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4 mb-4">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a href="?page={{ page_obj.previous_page_number }}"
                                               class="page-link">&laquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link">&laquo;</a>
                                        </li>
                                    {% endif %}
                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="page-item active">
                                                <a class="page-link">{{ i }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a href="?page={{ page_obj.next_page_number }}"
                                               class="page-link">&raquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link">&raquo;</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                {% else %}
                    <h3>No Applicants</h3>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}